/node_modules
/public/hot
/public/build
/public/build/assets
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
database/factories/CategoryFactory.php
database/seeders/CategorySeeder.php
database/seeders/DatabaseSeeder.php
